/* General Styles */

.container {
  all: unset;
  color: #333;
  width: 100vw;
  height: 100vh;
  background-color: #bbe0f5;
  width: 100vw;
  margin: 0 0;
  left: 0;
  top: 0;
}

.title {
  font-size: 32px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  font-weight: bold; /* Add bold text for better emphasis */
}

/* Song List Styles */
.songListContainer {
  background-color: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
  width: 400px;
  height: 285px;
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  top: 10px;
}

.songListContainer::-webkit-scrollbar {
  width: 0;
}

.songListContainer::-moz-scrollbar {
  width: 0;
}

.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 6px 5px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 16px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.song:hover {
  background-color: #b3b3b3;
}

.songTitle {
  flex-grow: 1;
}

.songDuration {
  margin-left: 16px;
}

/* Controls Card Styles */
.controlsCard {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  transition: bottom 0.5s ease-in-out, transform 0.3s ease-in-out;
  width: 50%;
  position: fixed;
  left: 25%;
  bottom: 25px;
  height: 100px;
}

.timeSlider {
  height: 25px;
  border-radius: 12px;
  position: absolute;
  width: 95%;
  left: 2.5%;
  bottom: 0;
}

.volumeSlider {
  height: 25px;
  border-radius: 12px;
  position: absolute;
  width: 95%;
  left: 2.5%;
  bottom: 18px;
}

.timeSlider input {
  width: 100%;
}

.volumeSlider input {
  position: absolute;
  right: 0;
  width: 25%;
}

.buttonWrapper {
  position: absolute;
  top: -44px;
  width: 100%;
  left: 0;
}

.buttonWrapper button {
  margin-right: 10px;
}

.controls {
  top: 0;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.controls button {
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.controls button:hover {
  background-color: #b3b3b3;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.time {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  bottom: 26px;
  right: 46%;
  position: absolute;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}